
<div class="trigger">
    <a class="page-link" href="{{ "/project_ideas" | relative_url }}">Project Ideas</a>
    <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
    <br/><hr/><br/>
    <a class="page-link" href="{{ "/hello_html" | relative_url }}">Hello HTML</a>
    <a class="page-link" href="{{ "/hello_p5" | relative_url }}">Hello p5</a>
    <a class="page-link" href="{{ "/visual_novels" | relative_url }}">Visual novels</a>
    <a class="page-link" href="{{ "/particles" | relative_url }}">Particle generators</a>
    <a class="page-link" href="{{ "/hello_sound" | relative_url }}">Hello sound</a>
    <a class="page-link" href="{{ "/hello_3d" | relative_url }}">Hello 3d</a>
</div>
         
